@import "tailwindcss";

@import "./styles/base/typography.css";
@import "./styles/components/button.css";

:root {
  --primary: #9dc53e;
  --dark: #171717;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--dark);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --font-sans: var(--font-lato);
  --font-title: var(--font-domine);
}

body {
  background: var(--dark);
  color: var(--foreground);
}


.container {
  @apply max-w-4xl mx-auto px-5;
}

.hero {
  @apply relative w-full min-h-[600px] h-10/12 bg-primary;

  .hero__title {
    @apply relative z-10;
  }

  .hero__wrapper {
    @apply md:flex items-end gap-10 relative;
  }

  .hero__image {
    @apply flex-1 relative min-h-[300px] md:min-h-[400px];

    &:after {
      @apply content-[''] absolute bottom-0 right-0 -mr-3 -mb-3 border-b border-r border-b-primary border-r-primary w-24 h-24;
    }
  }
}